<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Rating</th>
      <th>Director</th>
      <th>Release Date</th>
      <th>More Info</th>
      <th>Find Movies With Same Director</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= book.title %>
        </td>
        <td>
          <%= book.rating %>
        </td>
        <td>
          <%= book.author %>
        </td>
        <td>
          <%= book.publish_date %>
        </td>
        <td>
          <%= link_to "More about #{book.title}", book_path(book) %>
        </td>
        <td>
           <%= link_to "Find Books With Same Author #{book.author}", book_path(book) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new book', new_book_path, :class => 'btn btn-primary' %>
